<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <h1>Organization Tool</h1>
    <p>Welcome!</p>
	  <%- include('./partials/footer'); %>
  </body>
</html>
