<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <h1>Renew user activation</h1>
    <%- include('./partials/alert_error'); %>
    <%- include('./partials/alert_success'); %>

    <% if (oper && oper.status === 'success' && oper.code === 'UserActivationCode.Renew.Processed') {%>
      <p>Try <a href="/login">Login</a></p>
      <%}%>

    <% if (locals.oper && oper.status === 'failed' && oper.code === 'UserActivationCode.Renew.UserNotFound') {%>
    <p>Try <a href="/signup">Sign up</a></p>
    <%}%>

    <% if (locals.oper && oper.status === 'failed' && oper.code !== 'UserActivationCode.Renew.UserNotFound') {%>
    <p><a href="" onclick="location.reload">Try again</a></p>
    <%}%>

	  <%- include('./partials/footer'); %>
  </body>
</html>
