body {
  background-color: #f5f5f5;
}

.root-app {
  overflow: hidden;
}

.top-nav .user-icon {
  color: #1a73e8;
}

.my-app-primary-color {
  color: #1a73e8 !important;
}

.my-app-primary-bg-color {
  background-color: #1a73e8 !important;
}

.workspace-switcher {
  /* background-color: #d2e3fc; */
  border-radius: 25rem;
}

.workspace-switcher .label {
  /* color: #1a73e8 !important; */
}

.workspace-switcher .second-label {
  font-size: 10px;
}

a.my-app {
  text-decoration: none;
  color: #1a73e8 !important;
}

a.none-decoration {
  text-decoration: none;
}

a.my-app.btn-outline {
  color: #1a73e8 !important;
  border-color: #1a73e8 !important;
}

a.my-app.btn-outline:hover {
  color: #fff !important;
  border-color: #1a73e8 !important;
  background-color: #1a73e8 !important;
}

.btn-link {
  font-size: .875rem;
}

.app-side-bar {
  height: 100vh;
  width: 4rem;
  background-color: transparent;
  border-right: 1px solid rgba(0,0,0,.08);
  transition: all 150ms;
}

.app-side-bar .menu-icon {
  width: 100%;
}

.app-side-bar .menu-icon a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  color: inherit !important;
  width: 100%;
}

.app-side-bar .menu-icon a.active {
  color: #1a73e8 !important;
}

.app-side-bar .menu-icon .label {
  font-size: .75rem;
  text-align: center;
}

.function-side-bar {
  min-height: 100vh;
  width: 13rem;
  background-color: transparent;
  padding-top: 0.5rem;
  transition: all 150ms;
}

.function-side-bar ul, li {
  background-color: transparent !important;
  border: none !important;
}

.function-side-bar li {
  padding: 0 !important;
}

.function-side-bar li a {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 10rem !important;
  font-size: .875rem;
  padding: .5rem 1rem !important;
  color: inherit;
}

.function-side-bar li a {
  padding: 0;
}

.function-side-bar li a:hover,
.function-side-bar li a.active {
  background-color: #d2e3fc !important;
  color: #1a73e8 !important;
}

.top-bar, .function-side-bar-horizontal {
  height: 4rem;
  width: 100%;
}

.function-side-bar-horizontal {
  width: calc(100vw - 4.1rem);
  overflow-y: auto;
}

.function-side-bar-horizontal .menu-icon {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 5rem;
}

.function-side-bar-horizontal .menu-icon .label {
  font-size: .75rem;
  text-align: center;
}

.function-side-bar-horizontal a.menu-icon {
  text-decoration: none;
  color: inherit;
}

.function-side-bar-horizontal a.menu-icon.active,
.function-side-bar-horizontal a.menu-icon:hover {
  background-color: #d2e3fc !important;
  color: #1a73e8 !important;
}

.working-space {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  height: calc(100vh - 4rem);
  width: calc(100vw - 4.1rem);
  font-size: .875rem;
  transition: all 150ms;
}

.app-layout {
}

.action-button-bar {
  font-size: .875rem;
}

.app-layout .left-side-bar {
  width: 3.5rem;
  border-right: 1px solid rgba(0,0,0,.08);
  font-size: .875rem;
  height: calc(100vh - 3rem);
}

.app-layout .left-side-bar a {
  border-right: 2px solid transparent;
}

.app-layout .left-side-bar a.active {
  color: #1a73e8 !important;
  border-right-color: #1a73e8 !important;
}

.app-layout .app-container {
  width: calc(100% - 3.5rem);
}

.workspace-switcher .label {
  font-size: .875rem;
}

.workspace-switcher .active-group {
  width: 7rem;
  max-width: 20rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* .left-side-bar .list-group-item .label {
  position: relative;
  top: 2px;
} */

@media (min-width: 576px) {
  .app-layout .left-side-bar {
    height: calc(100vh - 4rem);
  }

  .workspace-switcher .active-group {
    width: 10rem;
  }
}

@media (min-width: 768px) {
  .working-space {
    border-top-left-radius: 1rem;
    border-top-right-radius: 0;
    width: calc(100vw - 17rem);
    height: calc(100vh - 0.5rem);
  }

  .app-layout .left-side-bar {
    width: 15rem;
  }

  .app-layout .app-container {
    width: calc(100% - 15rem);
  }

  .workspace-switcher .active-group {
    width: auto;
  }
}

@media (min-width: 992px) {
  .function-side-bar {
    width: 16rem;
  }
  .working-space {
    width: calc(100vw - 20rem);
  }
}

@media (min-width: 1200px) {

}
