body {
  background-color: #f5f5f5;
}

.root-app {
  overflow: hidden;
}

.btn-link {
  font-size: .875rem;
}

.app-side-bar {
  height: 100vh;
  width: 4rem;
  background-color: transparent;
  border-right: 1px solid rgba(0,0,0,.08);
  transition: all 150ms;
}

.app-side-bar .menu-icon {
  width: 100%;
}

.app-side-bar .menu-icon a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  color: inherit !important;
  width: 100%;
}

.app-side-bar .menu-icon a.active {
  color: #1a73e8 !important;
}

.app-side-bar .menu-icon .label {
  font-size: .75rem;
  text-align: center;
}

.function-side-bar {
  min-height: 100vh;
  width: 13rem;
  background-color: transparent;
  padding-top: 0.5rem;
  transition: all 150ms;
}

.function-side-bar ul, li {
  background-color: transparent !important;
  border: none !important;
}

.function-side-bar li {
  padding: 0 !important;
}

.function-side-bar li a {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 10rem !important;
  font-size: .875rem;
  padding: .5rem 1rem !important;
  color: inherit;
}

.function-side-bar li a {
  padding: 0;
}

.function-side-bar li a:hover,
.function-side-bar li a.active {
  background-color: #d2e3fc !important;
  color: #1a73e8 !important;
}

.top-bar, .function-side-bar-horizontal {
  height: 4rem;
  width: 100%;
}

.function-side-bar-horizontal {
  width: calc(100vw - 4.1rem);
  overflow-y: auto;
}

.function-side-bar-horizontal .menu-icon {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 5rem;
}

.function-side-bar-horizontal .menu-icon .label {
  font-size: .75rem;
  text-align: center;
}

.function-side-bar-horizontal a.menu-icon {
  text-decoration: none;
  color: inherit;
}

.function-side-bar-horizontal a.menu-icon.active,
.function-side-bar-horizontal a.menu-icon:hover {
  background-color: #d2e3fc !important;
  color: #1a73e8 !important;
}

.working-space {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  height: calc(100vh - 4rem);
  width: calc(100vw - 4.1rem);
  font-size: .875rem;
  transition: all 150ms;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .working-space {
    border-top-left-radius: 1rem;
    border-top-right-radius: 0;
    width: calc(100vw - 17rem);
    height: calc(100vh - 0.5rem);
  }
}

@media (min-width: 992px) {
  .function-side-bar {
    width: 16rem;
  }
}

@media (min-width: 1200px) {

}